body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-basis: 20%;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

article {
    flex-grow: 1;
    order: 1;
}

nav {
    flex-basis: 20%;
    flex-shrink: 0;
    order: 3;
}

aside {
    flex-basis: 20%;
    flex-shrink: 0;
    order: 2;
}

footer {
    flex-basis: 20%;
    flex-shrink: 0;
}