body {
    margin: 0;
}

header {
    padding: 1em 1em 10em 1em;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    /*Dit kunnen we beter uitschrijven! */
    flex: 1;
    padding: 1em;
}

nav {
    /*Dit kunnen we beter uitschrijven! */
    flex: 0 0 20vw;
    padding: 1em;
    order: -1;
}

aside {
    /*Dit kunnen we beter uitschrijven! */
    flex: 0 0 20vw;
    padding: 1em;
}

footer {
    padding: 1em 1em 2em 1em;
}