/*Schrijf hier jouw CSS*/

.flex-container1{
    display: flex;
    justify-content: space-between;
}
.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.o2flex{
flex-basis: 300px;
}
.o3flex{
    display: Flex;
    flex-direction: column;
}

.o3li{
    align-self: flex-start;
}
.o3ce{
    align-self: center;
}
.o3re{
    align-self: flex-end;
}

.opdracht-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.opdracht-5 div{
    display: flex;
    justify-content: space-between;
}
.opdracht-5 ul:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
}
.opdracht-5 ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.opdracht-5 ul:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
}
