body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.col-1 {
    /*Dit kunnen we beter uitschrijven! */
    flex: 1;
    background: var(--clr-blue-100);
    padding: 1em;
}
.col-2 {
    display: flex;
    flex-direction: column;
    /*Dit kunnen we beter uitschrijven! */
    flex: 5;
}

header {
    background: var(--clr-blue-200);
    padding: 1em 1em 10em 1em;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    /*Dit kunnen we beter uitschrijven! */
    flex: 3;
    background: var(--clr-blue-300);
    padding: 1em;
}

aside {
    /*Dit kunnen we beter uitschrijven! */
    flex: 1;
    color: var(--clr-blue-100);
    background: var(--clr-blue-400);
    padding: 1em;
}

footer {
    color: var(--clr-blue-100);
    background: var(--clr-blue-500);
    padding: 1em 1em 2em 1em;
}


